h1{
    text-align: center;
    color: white;
    font-size: 300%;
}

h2{
    text-align: left;
    color: #0E3323;
    font-size: 200%;
    margin: 0%;
    padding: 21px;
}

header{
    background-color: #73BB56;
    padding: 50px;;
}

#difericiado{
    text-align: center;
    font-size: 120%;
    margin: 0%;   
}

body{
    margin: 0%;
    background-color: #E8E5C2;
}
nav:hover>a{
    color: #447531;
    background-color: #269759;
}

main{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
}

p{
    padding-left: 30px;
    padding-right: 30px;
    font-style: bolder;
    font-size: 120%;
}
